<main>
    <script type="application/javascript" src="../../../public/JS/validationStudentForm.js"></script>
    <script type="application/javascript" src="../../public/JS/validationCommon.js"></script>
    <link rel="stylesheet" href="/public/CSS/Generic.css">
    <link rel="stylesheet" href="/public/CSS/Fonts.css">
    <link rel="stylesheet" href="/public/CSS/Text.css">
    <link rel="stylesheet" href="/public/CSS/Buttons.css">
    <link rel="stylesheet" href="/public/CSS/SubjectsList.css">
    <link rel="stylesheet" href="/public/CSS/LoginLayout.css">
    <link rel="stylesheet" href="/public/CSS/GradesList.css">
    <link rel="stylesheet" href="/public/CSS/errors.css">
    <title>Students</title>
    <%-include('../../fragments/header')%>
    <h2><%= pageTitle%></h2>

    <div class="subjectListContainer" style="width: auto; height: 100vh; max-height: 400vh; margin-left: 25vh; padding: 3vh; display: flex">
        <div class="subjectListMerger" style="width: 100%; height: auto; display: flex; overflow-x: scroll">
            <form class="LoginForm" style="width: 80%" method="post" action="<%= formAction%>" novalidate onsubmit="return validateStudentForm();">
                <input type="hidden" name="Student_id" value="<%= student._id%>" />
                <p></p>
                <label class="LoginLabel">Name*</label>
                <p></p>
                <input class="TextField" style="border: <%= validationErrors.find(e => e.path.includes('Name')) ? '1px solid red' : ''%>" type="text" name="Name" id="name" placeholder="Input Name" value="<%= student.Name%>"
                        <%= (formMode === 'showDetails') ? 'disabled' : '' %> />
                <p></p>
                <span id="nameError">
                    <% if(validationErrors.find(e => e.path.includes('Name'))) {%>
                        <%= validationErrors.find(e => e.path.includes('Name')).message %>
                    <%}%>
                </span>
                <p></p>
                <label class="LoginLabel">Surname*</label>
                <p></p>
                <input class="TextField" style="border: <%= validationErrors.find(e => e.path.includes('Surname')) ? '1px solid red' : ''%>" type="text" name="Surname" id="surname" placeholder="Input surname" value="<%= student.Surname%>"
                        <%= (formMode === 'showDetails') ? 'disabled' : '' %> />
                <p></p>
                <span id="surnameError">
                    <% if(validationErrors.find(e => e.path.includes('Surname'))) {%>
                        <%= validationErrors.find(e => e.path.includes('Surname')).message %>
                    <%}%>
                </span>
                <p></p>
                <label class="LoginLabel">Address*</label>
                <p></p>
                <input class="TextField" style="border: <%= validationErrors.find(e => e.path.includes('Adress')) ? '1px solid red' : ''%>" type="text" name="Adress" id="Adress" placeholder="Input Address" value="<%= student.Adress%>"
                        <%= (formMode === 'showDetails') ? 'disabled' : '' %> />
                <p></p>
                <span id="AdressError">
                    <% if(validationErrors.find(e => e.path.includes('Adress'))) {%>
                        <%= validationErrors.find(e => e.path.includes('Adress')).message %>
                    <%}%>
                </span>
                <p></p>
                <label class="LoginLabel">ZipCode*</label>
                <p></p>
                <input class="TextField" style="border: <%= validationErrors.find(e => e.path.includes('ZipCode')) ? '1px solid red' : ''%>" type="text" name="ZipCode" id="zipCode" placeholder="Input zip code" value="<%= student.ZipCode%>"
                        <%= (formMode === 'showDetails') ? 'disabled' : '' %> />
                <p></p>
                <span id="zipCodeError">
                    <% if(validationErrors.find(e => e.path.includes('ZipCode'))) {%>
                        <%= validationErrors.find(e => e.path.includes('ZipCode')).message %>
                    <%}%>
                </span>
                <p></p>
                <label class="LoginLabel">Birth Date*</label>
                <p></p>
                <input class="TextField" style="border: <%= validationErrors.find(e => e.path.includes('BirthDate')) ? '1px solid red' : ''%>" type="date" name="BirthDate" id="Birthdate" placeholder="Input Date of Birth"
                    <% if(formMode === 'showDetails' || formMode === 'edit') {%>
                        value="<%= new Date(student.BirthDate).toISOString().split('T')[0]%>"
                            <%} else {%>
                                value="<%= student.BirthDate%>"
                                    <%}%>
                        <%= (formMode === 'showDetails') ? 'disabled' : '' %> />
                <p></p>
                <span id="BirthdateError">
                    <% if(validationErrors.find(e => e.path.includes('BirthDate'))) {%>
                        <%= validationErrors.find(e => e.path.includes('BirthDate')).message %>
                    <%}%>
                </span>
                <p></p>
                <label class="LoginLabel">PESEL*</label>
                <p></p>
                <input class="TextField" style="border: <%= validationErrors.find(e => e.path.includes('PESEL')) ? '1px solid red' : ''%>" type="text" name="PESEL" id="PESEL" placeholder="Input PESEL" value="<%= student.PESEL%>"
                        <%= (formMode === 'showDetails') ? 'disabled' : '' %> />
                <p></p>
                <span id="PESELError">
                <% if(validationErrors.find(e => e.path.includes('PESEL'))) {%>
                    <%= validationErrors.find(e => e.path.includes('PESEL')).message%>
                    <%}%>
                </span>
                <p></p>
                <% if (formMode === 'showDetails') {%>
                    <table class="gradesTable">
                        <thead>
                        <tr>
                            <th>Grade</th>
                            <th>Date</th>
                            <th>comment</th>
                            <th>Subject</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(let grade of student.grades) {%>
                            <tr>
                                <td><square class="sqaure"
                                    <% if(grade.Grade.toString().split('.')[0] === '1' || grade.Grade.toString().split('.')[0] === '2'){%> style="background-color: red" <%} else if (grade.Grade.toString().split('.')[0] === '3' || grade.Grade.toString().split('.')[0] === '4') {%>
                                            style="background-color: yellow" <%} else {%> style="background-color: yellowgreen" <%}%>>
                                        <%= grade.Grade.toString().split('.')[0]%></square></td>
                                <td><%= new Date(grade.Date).toISOString().split('T')[0] %></td>
                                <td><%= grade.Comment%></td>
                                <td><a href="/subjects/details/<%= grade.subject._id %>"><%= grade.subject.Name%></a></td>
                            </tr>
                        <%}%>
                        </tbody>
                    </table>
                <%}%>
                <div class="form-buttons" style="left: 45%">
                    <span id="ErrorSummary"></span>
                    <p></p>
                    <% if(formMode != 'showDetails') {%>
                    <input class="loginButton" type="submit" value="<%=btnLabel%>" />
                    <a class="loginButton" href="/students" style="text-decoration: none; text-align: center;">Cancel</a>
                    <%} else {%>
                        <a class="loginButton" href="/students">Back</a>
                    <%}%>
                </div>
            </form>




        </div>
    </div>



</main>