<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JAM - Students</title>
    <link rel="stylesheet" href="/public/CSS/Generic.css">
    <link rel="stylesheet" href="/public/CSS/Fonts.css">
    <link rel="stylesheet" href="/public/CSS/Text.css">
    <link rel="stylesheet" href="/public/CSS/Buttons.css">
    <link rel="stylesheet" href="/public/CSS/StudentsList.css">
</head>
<body>
<%- include('../fragments/header.ejs')%>
<section id="content">
    <div class="content">
        <h2>Students</h2>
    </div>

    <div class="studentsListContainer" style="width: auto; height: auto; margin-left: 25vh; padding: 3vh">
            <div class="studentsListMerger" style="width: auto; height: auto;">
                    <table class="studentsTable">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Adress</th>
                            <th>Zip code</th>
                            <th>Birthdate</th>
                            <th>PESEL</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(let student of students) {%>
                        <tr>
                                <td><%= student.Name %></td>
                                <td><%= student.Surname %></td>
                                <td><%= student.Adress%></td>
                                <td><%= student.ZipCode%></td>
                                <td><%= student.BirthDate.toISOString().split('T')[0]%></td>
                                <td><%= student.PESEL%></td>
                            <td>
                            <ul style="list-style-type: none">
                                <li>
                                    <a href="/students/edit/<%=student._id%>"><button class="loginButton" style="margin-bottom: 5px">Edit</button></a>
                                </li>
                                <li>
                                    <a href="/students/delete/<%=student._id%>"><button class="loginButton" style="margin-bottom: 5px">Delete</button></a>
                                </li>
                                <li>
                                    <a href="/students/details/<%=student._id%>"><button class="loginButton">Details</button></a>
                                </li>
                            </ul>
                        </td>
                        </tr>
                        <% } %>
                    </table>
                <a href="/students/add"><button class="loginButton" style="margin-left: 45%; margin-top: 5px; margin-bottom: 5px">Add New Student</button> </a>
            </div>
    </div>
</section>

</body>
</html>