<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>JAM - Grades</title>
    <link rel="stylesheet" href="../../public/CSS/Generic.css">
    <link rel="stylesheet" href="../../public/CSS/layout.css">
    <link rel="stylesheet" href="../../public/CSS/Fonts.css">
    <link rel="stylesheet" href="../../public/CSS/Text.css">
    <link rel="stylesheet" href="../../public/CSS/Buttons.css">
    <link rel="stylesheet" href="../../public/CSS/GradesList.css">
</head>
<body>

<%-include('../fragments/header')%>

<section id="content">
    <div class="content">
        <h2>Grades</h2>
    </div>

    <div class="gradesListContainer" style="width:auto; height: auto; margin-left: 25vh; padding: 3vh">
        <div class="gradesListMerger" style="width: auto; height: auto; overflow-y: scroll; overflow-x: hidden">
            <table class="gradesTable">
                <thead>
                <tr>
                    <th>Student</th>
                    <th>Grade</th>
                    <th>Comment</th>
                    <th>Subject</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% for(let grade of grades) {%>
                <tr>
                    <td><%= grade.student.Name + ' ' + grade.student.Surname%></td>
                    <td><square class="sqaure"
                        <% if(grade.Grade.toString().split('.')[0] === '1' || grade.Grade.toString().split('.')[0] === '2'){%> style="background-color: red" <%} else if (grade.Grade.toString().split('.')[0] === '3' || grade.Grade.toString().split('.')[0] === '4') {%>
                                style="background-color: yellow" <%} else {%> style="background-color: yellowgreen" <%}%>>
                            <%= grade.Grade.toString().split('.')[0]%></square></td>
                    <td><%= grade.Date.toISOString().split('T')[0] %></td>
                    <td><%= grade.Comment%></td>
                    <td><%= grade.subject.Name%></td>
                    <td>
                        <ul style="list-style-type: none">
                            <li>
                                <a href="/grades/edit/<%=grade._id%>"><button class="loginButton" style="margin-bottom: 5px">Edit</button> </a>
                            </li>
                            <li>
                                <button class="loginButton" style="margin-bottom: 5px">Delete</button>
                            </li>
                            <li>
                                <a href="/grades/details/<%= grade._id%>"><button class="loginButton" style="margin-bottom: 5px">Details</button> </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
                <%}%>
            </table>

            <a href="/grades/add"><button class="loginButton" style="margin: 1vh; align-items: center; left: 45%">Add Grade</button></a>
        </div>

    </div>

</section>


</body>
</html>
