<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JAM - Subjects</title>
    <link rel="stylesheet" href="/public/CSS/Generic.css">
    <link rel="stylesheet" href="/public/CSS/Buttons.css">
    <link rel="stylesheet" href="/public/CSS/Fonts.css">
    <link rel="stylesheet" href="./public/CSS/LoginLayout.css">
    <link rel="stylesheet" href="./public/CSS/Text.css">
    <link rel="stylesheet" href="/public/CSS/SubjectsList.css">
</head>
<body>
<%-include('../fragments/header')%>
<h2>Subjects</h2>

<div class="subjectListContainer" style="width: auto; height: auto; min-height: 100vh; margin-left: 25vh; padding: 3vh">
    <div class="subjectListMerger" style="width: auto; height: auto; min-height: 100vh; overflow-x: hidden; overflow-y: scroll">
        <table class="subjectTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Short Name</th>
                <th>Price</th>
                <th>Availibility</th>
                <th>Lecturer</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% for(let subject of subjects) {%>
            <tr>
                <td><%= subject.Name%></td>
                <td><%= subject.Shortname%></td>
                <td><%= subject.Price%> PLN / h</td>
                <td>
                    <svg height="25" width="25">
                        <circle cx="15" cy="15" r="8.5" stroke="black" stroke-width="3" <% if(subject.Opened === true) {%> fill="green" <%} else {%> fill="red" <%}%>/>
                    </svg>
                </td>
                <td><%= subject.Lecturer%></td>
                <td>
                    <ul style="list-style-type: none">
                        <li>
                            <a href="/subjects/edit/<%= subject._id%>"><button class="loginButton" style="margin-bottom: 5px">Edit</button> </a>
                        </li>
                        <li>
                            <a  href="/subjects/delete/<%= subject._id%>"><button class="loginButton" style="margin-bottom: 5px">Delete</button></a>
                        </li>
                        <li>
                            <a href="/subjects/details/<%= subject._id%>"><button class="loginButton" style="margin-bottom: 5px">Details</button> </a>
                        </li>
                    </ul>
                </td>
            </tr>
            <%}%>>
            </tbody>
        </table>
        <a href="/subjects/add"><button class="loginButton" style="margin: 1vh; left: 65vh">Add new subject</button> </a>
    </div>
</div>

</body>
</html>