<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JAM - Subject Details</title>
    <link rel="stylesheet" href="/public/CSS/Generic.css">
    <link rel="stylesheet" href="/public/CSS/Fonts.css">
    <link rel="stylesheet" href="/public/CSS/Text.css">
    <link rel="stylesheet" href="/public/CSS/Buttons.css">
    <link rel="stylesheet" href="/public/CSS/SubjectsList.css">
    <link rel="stylesheet" href="/public/CSS/LoginLayout.css">
    <link rel="stylesheet" href="/public/CSS/GradesList.css">
</head>
<body>
<%-include('../fragments/header')%>
<section id="content">
    <div class="content">
        <h2>Subjects</h2>

        <div class="subjectListContainer" style="width: auto; height: auto; max-height: 100vh; margin-left: 25vh; padding: 3vh; display: flex">
            <div class="subjectListMerger" style="width: 100%; height: auto; display: flex">
               <% if (formMode === 'showDetails' || formMode === 'edit') {%>
                <table class="gradesTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>ShortName</th>
                        <th>Price</th>
                        <th>Opened</th>
                        <th>Lecturer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><%= subject.Name%></td>
                        <td><%= subject.ShortName%></td>
                        <td><%= subject.Price%></td>
                        <td><%= subject.Opened%></td>
                        <td><%= subject.Lecturer%></td>
                    </tr>
                    </tbody>
                </table>

                <div class="gradesTable" style="border: 1px solid grey; border-radius: 25px; width: 100%; margin: 15vh; height: 50%; overflow-y: scroll; overflow-x: hidden">
                    <p style="color: black; text-align: center">Last Grades</p>
                    <table class="gradesTable">
                        <thead>
                        <tr>
                            <th>Grade</th>
                            <th>Date</th>
                            <th>Comment</th>
                            <th>Student</th>
                            <th>PESEL</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(let grd of subject.grades) {%>
                        <tr>
                            <td>
                                <square class="sqaure" style="background-color: red">1</square>
                            </td>
                            <td><%= grd.Date%></td>
                            <td><%= grd.Comment%>></td>
                            <td><a href="/grades/details/<%= grd.grades._id%>"><%= grd.student.Surname%></a></td>
                            <td><a href="/grades/details/<%= grd.grades._id%>"><%= grd.student.PESEL%></a></td>
                        </tr>
                        <%}%>
                        </tbody>

                    </table>
                    <%}%>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>