<main>
    <script type="application/javascript" src="../../../public/JS/validationSubject.js"></script>
    <script type="application/javascript" src="../../../public/JS/validationCommon.js"></script>
    <link rel="stylesheet" href="/public/CSS/Generic.css">
    <link rel="stylesheet" href="/public/CSS/Fonts.css">
    <link rel="stylesheet" href="/public/CSS/Text.css">
    <link rel="stylesheet" href="/public/CSS/Buttons.css">
    <link rel="stylesheet" href="/public/CSS/SubjectsList.css">
    <link rel="stylesheet" href="/public/CSS/LoginLayout.css">
    <link rel="stylesheet" href="/public/CSS/GradesList.css">
    <link rel="stylesheet" href="/public/CSS/errors.css">
    <title>Subjects</title>
    <%-include('../../fragments/header')%>
    <h2><%= pageTitle%></h2>

    <div class="subjectListContainer" style="width: auto; height: 80vh; max-height: 400vh; margin-left: 25vh; padding: 3vh; display: flex">
        <div class="subjectListMerger" style="width: 100%; height: auto; display: flex; overflow-x: scroll">
            <form class="LoginForm" style="width: 80%;" method="post" action="<%=formAction%>" novalidate onsubmit="return validateSubjectForm();">
                <input type="hidden" name="_id" value="<%= subject._id%>">
                <label class="LoginLabel">Name*</label>
                <p></p>
                <input class="TextField" style="border: <%= validationErrors.find(e => e.path.includes('Name')) ? '1px solid red' : ''%>" type="text" name="Name" id="name" placeholder="Input name" value="<%= subject.Name%>"
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
                <p></p>
                <span id="nameError">
                    <% if(validationErrors.find(e => e.path.includes('Name'))) {%>
                        <%= validationErrors.find(e => e.path.includes('Name')).message %>
                    <%}%>
                </span>
                <p></p>
                <label class="LoginLabel">Short Name</label>
                <p></p>
                <input class="TextField" style="border: <%= validationErrors.find(e => e.path.includes('Shortname')) ? '1px solid red' : ''%>" type="text" name="Shortname" id="shortName" placeholder="Max 3" value="<%= subject.Shortname%>"
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
                <p></p>
                <span id="shortNameError">
                    <% if(validationErrors.find(e => e.path.includes('Shortname'))) {%>
                        <%= validationErrors.find(e => e.path.includes('Shortname')).message %>
                    <%}%>
                </span>
                <p></p>
                <label class="LoginLabel">Price*</label>
                <p></p>
                <input class="TextField" style="border: <%= validationErrors.find(e => e.path.includes('Price')) ? '1px solid red' : ''%>" type="number" name="Price" id="Price" placeholder="Input price" value="<%= subject.Price%>"
                        <%= (formMode == 'showDetails') ? 'disabled' : ''%> />
                <p></p>
                <span id="PriceError">
                    <% if(validationErrors.find(e => e.path.includes('Price'))) {%>
                        <%= validationErrors.find(e => e.path.includes('Price')).message %>
                    <%}%>
                </span>
                <p></p>
                <label class="LoginLabel">Availibility*</label>
                <p></p>
                <select id="Availibility" style="border: <%= validationErrors.find(e => e.path.includes('Opened')) ? '1px solid red' : ''%>" name="Opened" class="SelectField" required <%= (formMode == 'showDetails') ? 'disabled' : ''%> >
                    <option value="<% if(subject.Opened == true) {%>true<%} else if (subject.Opened === false) {%>false<%} else{%>Select option<%}%>"><% if(subject.Opened == true) {%>Available<%} else if (subject.Opened === false) {%> Unavailable <%} else {%>Select option<%}%></option>
                    <option value="true">Available</option>
                    <option value="false">Unavailable</option>
                </select>
                <p></p>
                <span id="AvailibilityError">
                    <% if(validationErrors.find(e => e.path.includes('Opened'))) {%>
                        <%= validationErrors.find(e => e.path.includes('Opened')).message %>
                    <%}%>
                </span>
                <p></p>
                <label class="LoginLabel">Lecturer*</label>
                <p></p>
                <input class="TextField" style="border: <%= validationErrors.find(e => e.path.includes('Lecturer')) ? '1px solid red' : ''%>" type="text" name="Lecturer" id="lecturer" placeholder="Input lecturer" value="<%= subject.Lecturer%>"
                        <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
                <p></p>
                <span id="lecturerError">
                    <% if(validationErrors.find(e => e.path.includes('Lecturer'))) {%>
                        <%= validationErrors.find(e => e.path.includes('Lecturer')).message %>
                    <%}%>
                </span>
                <% if (formMode == 'showDetails') {%>
                    <table class="gradesTable">
                        <thead>
                        <tr>
                            <th>Grade</th>
                            <th>Date</th>
                            <th>comment</th>
                            <th>Student Name</th>
                            <th>Student PESEL</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(let e of subject.grades) {%>
                            <tr>
                                <td><square class="sqaure"
                                    <% if(e.Grade.toString().split('.')[0] === '1' || e.Grade.toString().split('.')[0] === '2'){%> style="background-color: red" <%} else if (e.Grade.toString().split('.')[0] === '3' || e.Grade.toString().split('.')[0] === '4') {%>
                                        style="background-color: yellow" <%} else {%> style="background-color: yellowgreen" <%}%>>
                                        <%= e.Grade.toString().split('.')[0]%></square></td>
                                <td><%= e.Date.toISOString().split('T')[0] %></td>
                                <td><%= e.Comment%></td>
                                <td><a href="/students/details/<%= e.student._id %>"><%= e.student.Surname%></a></td>
                                <td><%= e.student.PESEL%></td>
                            </tr>
                        <%}%>
                        </tbody>
                    </table>
                   <%}%>
                <div class="form-buttons" style="left: 45%">
                    <span id="generalError"></span>
                    <p></p>
                    <% if(formMode != 'showDetails') {%>
                    <input class="loginButton" type="submit" value="<%=btnLabel%>" />
                    <a class="loginButton" style="text-decoration: none; text-align: center;" href="/subjects">Cancel</a>
                    <%} else {%>
                        <a class="loginButton" href="/subjects">Back</a>
                    <%}%>
                </div>
            </form>

        </div>
    </div>


</main>